body {
  background-color: #1b0f07;
  font-family: "Poppins", sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: #2a1a0a;
  padding: 40px;
  border-radius: 15px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 30px rgba(255, 165, 0, 0.2);
}

.login-box h2 {
  color: #ffb200;
  margin-bottom: 10px;
}

.login-box p {
  margin-bottom: 20px;
  color: #ccc;
}

label {
  display: block;
  text-align: left;
  margin-top: 10px;
  color: #ffb200;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-top: 5px;
  background: #3a250c;
  color: #fff;
}

.login-btn {
  background-color: #ffb200;
  border: none;
  color: #1b0f07;
  border-radius: 25px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #ff8c00;
}

.link-btn {
  background: none;
  border: none;
  color: #ffb200;
  cursor: pointer;
  text-decoration: underline;
}

.bottom-text {
  margin-top: 15px;
  font-size: 0.9rem;
}
