.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: #fff;
}

.register-box {
  background: #ffffff;
  border: 1px solid #ffd54f;
  border-radius: 18px;
  box-shadow: 0 6px 20px rgba(255, 136, 0, 0.15);
  padding: 40px 35px;
  width: 420px;
  text-align: center;
}

.register-box h2 {
  color: #ff7b00;
}

label {
  color: #ff7b00;
  text-align: left;
  display: block;
  font-weight: 500;
  margin-top: 10px;
}

input {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-top: 5px;
}

button {
  margin-top: 20px;
  width: 100%;
  background: linear-gradient(90deg, #ff7b00, #ffd54f);
  border: none;
  color: #fff;
  border-radius: 8px;
  padding: 12px;
  font-weight: bold;
}

p {
  color: #444;
}

.link {
  color: #ff7b00;
  cursor: pointer;
  text-decoration: underline;
}
