body {
  background-color: #121212;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.navbar {
  box-shadow: 0 2px 10px rgba(255, 174, 0, 0.2);
}

.card img {
  border-radius: 10px 10px 0 0;
}

.card-body {
  background-color: #1c1c1c;
  border-radius: 0 0 10px 10px;
}
