body {
  background-color: #0e0e0e;
  font-family: "Poppins", sans-serif;
}

.login-container {
  height: 100vh;
  background: linear-gradient(to bottom right, #1b1b1b, #000);
}

.login-box {
  background-color: #1d1b1b;
  border-radius: 20px;
  width: 380px;
}

.form-control {
  background-color: #2a2a2a;
  border: none;
  color: #fff;
}

.form-control:focus {
  background-color: #2a2a2a;
  color: #fff;
  box-shadow: 0 0 5px #f9b233;
}

.btn-warning {
  background-color: #f9b233;
  border: none;
}
